<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

<body id="home-page">
<%- include ('partials/nav') %>
<div class="driver-lab-image">
    <div class="container">

        <h1>Welcome To Car Driver Lab</h1>
        <h4>
            Car Driver Lab is your ultimate destination for professional driving services and solutions. We believe that safety, efficiency, and expertise are key to mastering the road.
        </h4>

    </div>
</div>
<p class="container content">
<h1>Why Choose Us?</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-car icon"></i>
                <h2 class="card-title">Experienced Drivers</h2>
                <p class="card-text">Our team consists of highly trained and experienced drivers, ensuring safety and professionalism on the road.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-hand-holding-usd icon"></i>
                <h2 class="card-title">Affordable Services</h2>
                <p class="card-text">We provide top-notch driving solutions at competitive prices, ensuring value for money while prioritizing safety and quality.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-road icon"></i>
                <h2 class="card-title">Our Expertise</h2>
                <p class="card-text">Years of experience in training drivers, providing ride-hailing services, and working with businesses that require professional driving solutions. Check our services page for more details and contact us for assistance.</p>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer') %>
</p>
</body>
</html>
